<!DOCTYPE html>
<html th:replace="~{fragments/layout :: layout(~{::head},~{::main})}" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head :: head(title='Sistema de Clínica Médica')}"></head>

<body>
<main>
    <div class="container mt-5 text-center">
        <h1 class="display-4 text-primary mb-4">Bem-vindo ao Sistema Clínico</h1>
        <p class="lead">Selecione uma das opções abaixo para gerenciar o sistema:</p>

        <div class="d-flex justify-content-center gap-3 mt-4">
            <a th:href="@{/paciente/list}" class="btn btn-outline-primary btn-lg">Gerenciar Pacientes</a>
            <a th:href="@{/medico/list}" class="btn btn-outline-success btn-lg">Gerenciar Médicos</a>
            <a th:href="@{/consulta/list}" class="btn btn-outline-info btn-lg">Gerenciar Consultas</a>
        </div>
    </div>
</main>
</body>
</html>